@import '../variables.scss';

// Div From 🌎 
.from {
    background-color: $color-negro-aim;

    p {
        padding: 8px;
        color: $color-blanco;
        text-align: center;
        font-weight: 300;
    }

    .line {
        background-color: $color-gris-claro;
        width: 100%;
        height: 1px;
    }
}

// HEADER 

header {
    position: sticky;
    top: 0;
    background-color: $color-negro;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    position: sticky;
    .logo {
        width: 9rem;

    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;


        ul {
            list-style: none;
            display: flex;
            transition: all .35s;

            li {
                margin: 2rem;

                a {
                    color: $color-gris;
                    font-size: 13px;
                    font-weight: 500;
                    text-decoration: none;
                    transition: 0.6s all ease;

                    &:hover {
                        color: $color-blanco;
                    }
                }

                .download {
                    color: $color-negro;
                    background-color: $color-blanco;
                    padding: 6px;
                    text-decoration: none;
                    border-radius: 5px;

                }
            }

        }

        .checkbtn {
            .menu-icon {
                img {
                    width: 3rem;
                    border-radius: 10px;
                }
            }
        }
        .menu-icon,
        #check {
            display: none;
        }
    }

}

// Medias Query

@media (max-width: 768px) {
    header {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .logo {
            position: absolute;
            left: 5px;
            top: -11px;
        }

        .header__divs {
            display: none;
        }

        .header__nav {

            .checkbtn {
                display: block;

                .menu-icon {
                    cursor: pointer;
                    display: block;
                    position: absolute;
                    top: 25px;
                    border-radius: 10px;
                    right: 45px;

                    img {
                        width: 3rem;
                    }
                }
            }


        }
    }

    .header__nav ul {
        display: block;
        position: absolute;
        top: 70px;
        flex-direction: column;
        background-color: $color-negro;
        height: 100vh;
        right: -20px;
        left: -100%;
        width: 100%;

        li {
            padding: 2rem;
            justify-content: center;
            margin: 0;
            display: flex;

            a {
                font-size: rem;
            }

            .download {
                background-color: $color-blanco;
                padding: 10px;
                border-radius: 5px;
                color: $color-negro;

                &:hover {
                    color: $color-gris;
                }
            }
        }
    }

    .header__nav #check:checked~ul {
        left: 0;
    }
}